// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Lato';
}

.fa-btn {
  margin-right: 6px;
}

div.center {
  width: 100%;
  text-align: center;
}

#action-bar {
  margin: 10px 0 10px 0;
}

#posts {
  th:nth-child(2), td:nth-child(2) {
    width: 175px;
  }
  th:nth-child(3), td:nth-child(3) {
    width: 125px;
    text-align: center;
  }
  th:nth-child(4), td:nth-child(4) {
    width: 75px;
    text-align: right;
  }

  .fa {
    margin-left: 10px;
  }
}

#alerts {
  margin-top: 10px;
}

#alerts .alert-info {
  display: none;
}
